.form {
    background: white;
    border: 2px solid var(--colors-grey300);
    padding: var(--spacers-dp16);
}

.section {
    margin-bottom: var(--spacers-dp48);
}

.sectionHeader {
    font-size: 20px;
    font-weight: 500;
    color: var(--colors-grey800);
    margin: 0;
    margin-bottom: var(--spacers-dp4);
}

.sectionDescription {
    font-size: 14px;
    color: var(--colors-grey800);
    margin-top: 0;
    margin-bottom: var(--spacers-dp4);
}

.field {
    margin-top: var(--spacers-dp12);
}

.textField {
    composes: field;
    max-width: 488px;
}

.singleSelectField, .passwordField {
    composes: field;
    max-width: 330px;
}

.numberField {
    composes: field;
    max-width: 150px;
}

.dateField {
    composes: field;
    max-width: 180px;
}

.transferFieldHeader {
    font-size: 14px;
    font-weight: 500;
    color: var(--colors-grey800);
    margin: var(--spacers-dp8) 0;
}

.flexCenter {
    display: flex;
    align-items: center;
}

.transferWrapperError {
    border: 1px solid var(--theme-error);
    border-radius: 3px;
}

.errorIcon {
    flex-shrink: 0;
    flex-grow: 0;
    margin-left: var(--spacers-dp8);
}

.errorNoticeBox {
    max-width: 500px;
}
